body {
  background-color: #000;
color: white;

  padding: 0 0;
margin: 0;
font-family: Roboto, Arial, sans-serif;
}

@keyframes fadein { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#bigtext {
  animation: fadein 2s;
  padding: 10vh 0;
}
#bigbox {
  width: 100%;
  background-color: #110000;
  text-align: center;
  vertical-align: center;
  color: #f00;
  font-size: 10vw;
  margin: 50px auto 0;
}
p {
  padding: 0 15vw;
  text-align: center;
}
a {
  color: red;
}